<h1>{{titulo}}</h1>

<form [formGroup]="colecaoForm" novalidate>

  <div class="form-group">
    <label for="nome">Nome</label>
    <input type="text" class="form-control" id="nome" placeholder="Nome da colecao" formControlName="nome" />
  </div>

  <button type="submit" class="btn btn-primary" (click)="salvar(colecaoForm.value)">Salvar</button>
  <button [routerLink]="['/colecao']" class="btn btn-default">Voltar</button>

</form>
<!-- <pre>{{colecaoForm.value   | json}}</pre> -->
