<h1>Lista de categorias</h1>

<button type="button" id="adicionar" class="btn btn-primary" [routerLink]="['/categoria/novo']">Adicionar categoria</button>

<table class="table" >
  <thead>
  <tr>
    <th scope="col">#</th>
    <th scope="col">Nome</th>
    <th scope="col">Operações</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let categoria of categorias">
    <td>{{categoria.id}}</td>
    <td>{{categoria.nome}}</td>
    <td>
      <a [routerLink]="['/categoria/alterar',categoria.id]" >Alterar</a> |
      <button (click)="excluir(categoria.id)">Excluir</button>
    </td>
  </tr>
  </tbody>
</table>
