<h1>{{titulo}}</h1>

<form [formGroup]="categoriaForm" novalidate>

  <div class="form-group">
    <label for="nome">Nome</label>
    <input type="text" class="form-control" id="nome" placeholder="Nome da categoria" formControlName="nome" />
  </div>

  <button type="submit" class="btn btn-primary" (click)="salvar(categoriaForm.value)">Salvar</button>
  <button [routerLink]="['/categoria']" class="btn btn-default">Voltar</button>

</form>
<pre>{{categoriaForm.value   | json}}</pre>
