<h1>Lista de Cores</h1>

<button type="button" id="adicionar" class="btn btn-primary" [routerLink]="['/cor/novo']">Adicionar Cor</button>

<table class="table" >
  <thead>
  <tr>
    <th scope="col">#</th>
    <th scope="col">Cor</th>
    <th scope="col">Operações</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let cor of cors">
    <td>{{cor.id}}</td>
    <td>{{cor.nome}}</td>
    <td>
      <a [routerLink]="['/cor/alterar',cor.id]" >Alterar</a> |
      <button (click)="excluir(cor.id)">Excluir</button>
    </td>
  </tr>
  </tbody>
</table>
