<div class="container">

  <!-- TOPO -->
  <div class="row topo justify-content-between">
    <div class="col-3">
      <img class="logo" src="assets/imagens/logo.png" />
    </div>
    <div class="col-3">
      <carrinho-widget></carrinho-widget>
    </div>
  </div>

  <!-- MENU HORIZONTAL -->
  <div class="row menu-horizontal">
    <div class="col-12">
      <div class="row">
        <ul>
          <li class="menu-prin">
            <a class="nav-link" [routerLink]="['produto/home']">Inicio <span class="sr-only">(current)</span></a>
          </li>
          <li class="menu-prin">
            <a class="nav-link " [routerLink]="['contato/novo']">Contato</a>
          </li>
          <li class="menu-prin">
            <a class="nav-link dropdown-toggle" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true"
              aria-expanded="false">
              Administrativo
            </a>
            <ul class="dd-menu">
              <li>
                <a class="dd-item" [routerLink]="['produto']">Produtos</a>
              </li>
              <li>
                <a class="dd-item" [routerLink]="['categoria']">Categorias</a>
              </li>
              <li>
                <a class="dd-item" [routerLink]="['cor']">Cores</a>
              </li>
              <li>
                <a class="dd-item" [routerLink]="['colecao']">Coleções</a>
              </li>
              <li>
                <a class="dd-item" [routerLink]="['contato']">Contatos</a>
              </li>
              <!-- <a class="dd-item" href="#">Action</a>
              <a class="dd-item" href="#">Another action</a> -->
            </ul>
          </li>
        </ul>
      </div>

      <!-- <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="#">
          <img src="assets/imagens/logo1.png"  width="100" height="50" class="d-inline-block align-top" alt="">
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item">
              <a class="nav-link" href="#">Inicio <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Sobre</a>
            </li>
            <li class="nav-item">
              <a class="nav-link " [routerLink]="['contato/novo']">Contato</a>
            </li>
          </ul>
          <form class="form-inline my-2 my-lg-0">
            <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
          </form>
        </div>
      </nav> -->

    </div>
  </div>

  <!-- MEIO -->
  <div class="row meio">
    <!-- CONTEUDO -->
    <div class="col-12">

      <!-- start: page -->
      <router-outlet></router-outlet>
      <!-- end: page -->

    </div>
  </div>

  <!-- RODAPE -->
  <div class="row footer">
    <div class="col rodape">
      <p> Monteiros &#174; Direitos Reservados </p>
    </div>
  </div>

</div>
