.container {
  max-width: none;
  padding: 0;
}

/* TOPO */
.topo {

    margin: 30px 0px;
}

.logo{
        width: 1100px;
}


/* MENU HORIZONTAL */
.menu-horizontal{
    padding: 5px 0px;
    background-color: #3D3D3D;
    margin: 0;
}
.menu-horizontal .menu-prin {
  display: inline-block;
}
.menu-horizontal a {
    text-transform: uppercase;
    color: #FFFFFF;
}

.dd-menu{
  left: 235px;
  display: none;
  position: absolute;
  z-index: 1;
  background-color: #3D3D3D;
  width: 150px;
  padding: 0;
  list-style: none;
  align: center;
}
.menu-horizontal .menu-prin:nth-child(3):hover > .dd-menu{
    display: block;
}

.dd-item{

}

/* MEIO */
.meio{

    padding: 30px;
    /* min-height: 150px; */
}

/* RODAPE */
.footer {
  /* min-height: 150px;
  background: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url('https://images.unsplash.com/photo-1478633637126-63a90b9d7e1f?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=9c7a6c5684242238cd2c2be2d1d16693&auto=format&fit=crop&w=750&q=80');
  background-size: cover;
  background-position: center; */
}



.rodape p {
    text-align: center;
}


