<div class="container">
  <div class="row select">
    <h4>Categoria:</h4>
    <select (change)="selectCategoria($event)">
      <option> </option>
      <option *ngFor="let categoria of categorias" [value]="categoria.id">{{categoria.nome}}</option>
    </select>
    <a class="btn" (click)="filtrarCat()">Filtrar</a>
    <a class="btn" (click)="removerCat()">Remover</a>
  </div>
  <div class="row slide">
    <div class="card" style="width: 18rem;" *ngFor="let produto of produtos">
      <img class="card-img-top" src="assets/imagens/Calca-camuflado.jpg" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">{{produto.nome}}</h5>
        <p class="card-text">{{produto.descricao}}</p>
        <p class="card-text">R$ {{produto.preco}}</p>
        <label for="nome">Cor</label>
        <select (change)="selectCor($event)">
          <option> </option>
          <option *ngFor="let cor of cores" [value]="cor.id">{{cor.nome}}</option>
        </select>
        <br>
        <a class="btn btn-primary" (click)="adicionarProduto(produto)">Comprar</a>
      </div>
    </div>
  </div>
</div>
