label{
  margin-right: 3px;
}

img{
  width: 200px;
  margin: 0 auto;
}

.row{
  padding-left: 15px;
}

.card{
  padding-left: 2px;
  margin-right: 5px;
}

.row select{
  margin-right: 3px;
  margin-bottom: 10px;
}

h4{
  margin-right: 4px;
}

a{
  margin-bottom: 10px;
}
