<h1>Lista de Mensagem</h1>

<table class="table" >
  <thead>
  <tr>
    <th scope="col">#</th>
    <th scope="col">Nome</th>
    <th scope="col">Email</th>
    <th scope="col">Mensagem</th>
    <th scope="col">Operações</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let contato of contatos">
    <td>{{contato.id}}</td>
    <td>{{contato.nome}}</td>
    <td>{{contato.email}}</td>
    <td>{{contato.mensagem}}</td>
    <td>
      <a [routerLink]="['/contato/visualizar',contato.id]" >Visualizar</a> |
      <button (click)="excluir(contato.id)">Excluir</button>
    </td>
  </tr>
  </tbody>
</table>
