<h1>Fale Conosco</h1>
<div class="conteiner formulario">
  <div class="row">
    <div>
      <img src="assets/imagens/logo1.png">
      <p>Email: contato@monteiros.com.br</p>
      <br>
      <img src="assets/imagens/logo1.png">
      <p>Fone.: (62) 99999-9999</p>
      <br>
      </div>
  </div>
  <div class="row">
    <form [formGroup]="contatoForm" novalidate>

      <div class="form-group">
        <label for="nome">Nome</label>
        <input type="text" class="form-control" id="nome" placeholder="Nome" formControlName="nome" />
      </div>

      <div class="form-group">
        <label for="nome">Email</label>
        <input type="text" class="form-control" id="email" placeholder="@gmail.com" formControlName="email" />
      </div>

      <div class="form-group">
        <label for="descricao">Mensagem</label>
        <textarea type="text" class="form-control" id="mensagem" formControlName="mensagem"></textarea>
      </div>

      <button type="submit" class="btn btn-primary" (click)="salvar(contatoForm.value)">Enviar</button>
    </form>
  </div>
</div>
