<h1>Lista de Coleções</h1>

<button type="button" id="adicionar" class="btn btn-primary" [routerLink]="['/colecao/novo']">Adicionar Coleção</button>

<table class="table" >
  <thead>
  <tr>
    <th scope="col">#</th>
    <th scope="col">Nome</th>
    <th scope="col">Operações</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let colecao of colecoes">
    <td>{{colecao.id}}</td>
    <td>{{colecao.nome}}</td>
    <td>
      <a [routerLink]="['/colecao/alterar',colecao.id]" >Alterar</a> |
      <button (click)="excluir(colecao.id)">Excluir</button>
    </td>
  </tr>
  </tbody>
</table>
