<h1>{{titulo}}</h1>

<form [formGroup]="corForm" novalidate>

  <div class="form-group">
    <label for="nome">Cor</label>
    <input type="text" class="form-control" id="nome" placeholder="Cor" formControlName="nome" />
  </div>

  <button type="submit" class="btn btn-primary" (click)="salvar(corForm.value)">Salvar</button>
  <button [routerLink]="['/cor']" class="btn btn-default">Voltar</button>

</form>
<pre>{{corForm.value   | json}}</pre>
