<h4>Carrinho</h4>
<div *ngIf="itensCarrinho; else: ElseBlock">
  <div class="margem" *ngFor="let itemCarrinho of itensCarrinho; let i = index">
    <div>
      <div class="row">
        <div class="col-2">
          <p> {{ itemCarrinho.produto.nome }}</p>
        </div>
        <div class="col-2">
          <img style="max-width:32px;" class="small-img" src="assets/imagens/Calca-camuflado.jpg" />
        </div>
        <div class="col-2">
          <p>{{itemCarrinho.cor.nome}}</p>
        </div>
        <div class="col-2">
          <p>R$ {{ (itemCarrinho.quantidade * itemCarrinho.produto.preco).toFixed(2) }}</p>
          <!-- descricao -->
        </div>
        <div class="col-2">
          <!-- aumentar diminuir e quantidade -->
          <button class="btn btn-link" (click)="diminuirQuantidadeItemCarrinho(i)">
            -
          </button>
          <span>{{ itemCarrinho.quantidade }}</span>
          <button class="btn btn-link" (click)="aumentarQuantidadeItemCarrinho(i)">
            +
          </button>
        </div>
        <div class="col-2">
          <button class="btn btn-link" (click)="excluirItemCarrinho(i)">
            Remover
          </button>
        </div>
      </div>
    </div>
  </div>
  <h4>Total dos produtos: R$ {{ (valorTotalCarrinho()).toFixed(2) }}</h4>
</div>
